<div id="evaluation-main">

<%= form_for(@evaluation, html: {class: "ui form"}) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Evaluation Name" %>
    <%= f.text_field :name %>
  </div>

  <div id="question-forms" class="field mx-5 mt-2">
    <div class='links'>
    <%= link_to_add_association 'add question', f, :questions, class: 'ui positive basic button'  %>
    </div>
  </div>
<br />

<h3>Assign evaluation to course</h3>
  <div class="field mx-5">
    <%= f.collection_radio_buttons(:course_id, unassigned_courses, :id, :title) do |b| %>
      <%= b.label class:"form-checkbox" do%>
        <%=b.radio_button + b.text%> </br>
      <%end%>
    <% end %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary', :id => "test" %>
  </div>
<% end %>

</div>


<script type="text/javascript" charset="utf-8">

  $(function () {
      $('form').submit(function(event) {
      event.preventDefault();

      const values = $(this).serialize();
      const posting = $.post('/evaluations', values);

      posting.done(function(evaluation) {
        const evalUrl = evaluation.id
        addEvalToDom(evaluation)
        history.pushState(null, null, evalUrl)
        addEventHandler()
      });
    });
  });

</script>
