<div class="ui raised very padded text container segment">
  <h2 class="ui header">You are an attendee.</h2>
  <p></p>
  <p></p>
<strong>Title: </strong><%= @attendee.title %></br>
<strong>First name:</strong> <%= @attendee.first_name %></br>
<strong>Last name: </strong><%= @attendee.last_name %></br>
<strong>Suffix: </strong><%= @attendee.suffix %></br>
</h3>
</br>
<%= link_to 'Edit Profile', edit_attendee_path(@attendee), class: 'btn'%>
</br></br>
<strong>Email: </strong><%= current_user.email %></h3>
<p></p>
<%= link_to 'Update Login Email or Password', edit_user_registration_path, class: 'btn'%>
</div>
